*.dat
*.DS_Store
*.json
*.png
*.mp4
*.avi
*.out
*.pdf
*.synctex.gz
*.exe
*.h
*.txt
*.html
*.csv
*.js
*.bbl
*.log
!/memorandum/figure/
*.dvi
*.brf
DLA
*.jpg
*.blg
*.aux
*.toc
*.fls
*.fdb_latexmk
*.synctex
*.bcf
*.xml